body {
    margin: 0;
    background-color: #000;
    color: #fff;
    font-family: "Roboto Condensed", sans-serif;

}


p{
    line-height: 1.5;
}


header {
    background-color: #fce001;
    padding: 10px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

header img {
 width: 50px;
    vertical-align: middle;
}

nav {
    display: inline-block;
    margin-left: 10px;
    vertical-align: middle;
    transition: ease-in-out 500ms;
    display: flex; align-items: center;
}

nav a {
    margin: 0 15px;
    color: #000; 
    text-decoration: none; 
    font-weight: bold;
}

.links {
    display: flex;
}

.images {
    display: flex; 
    justify-content: center;
    margin: 20px 0;
    gap: 25px;  
    
}

.images img {
    flex: 1 1 0;
    margin: 0px; 
}
.meny{
    width: 15px;
    margin-left: 50px;
    display: none;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #111; 
    border-top: 2px solid #fcd116; 
}

footer img {
    height: 40px; 
    margin: 0 10px; 
}

@media only screen and (max-width: 900px) {
    a {
      font-size: 10px;
      flex-direction: column;
     }
     .images img {
        width: 100%;
        
        margin-inline: auto;
    }   
    
.images{ flex-direction: column;}
}




main{
    margin-inline: 25px;
}


@media only screen and (max-width: 640px) {
   
    a {
        font-size: 7px; 
        
       }
    .meny{
        margin: 0px;
        display: block;
    }
    .images img {
        width: 100%;
        
    } 

    nav{
        opacity: 0;

    
       
    }

    
  

  .hidenav{
opacity: 1 !important;
     position: absolute;
     top: 0;
     left: 1;
     right: 0;
     bottom: 0;
     height: 100%;
     background-color: rgb(255, 251, 0);
     width: 100%;
     filter: opacity(90%);
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center;
     gap: 60px;
     


     
  }
    
  a {
    font-size: 20px;
 }

 
    .meny{
        z-index: 999;
        position: relative;

    }

     }